<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{commons/adcommons.html::adtopbar(sign='admain.html')}"></div>

<div id="index-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">华中师范大学计算机学院会议室管理办法与规则</h3>
                    </div>
                    <div class="panel-body">
                        <div id="notice"><p class="MsoNormal" style="text-indent: 32pt; line-height: 2;"><span style="font-size:16.0pt;
font-family:仿宋">会议室是计算机学院重要的学术交流活动场所，为加强会议室的管理，做到合理使用，提高会议室利用率，保证实验室的各类活动顺利开展，制定本办法。<span lang="EN-US"></span></span></p><p class="MsoNormal" style="text-indent: 32pt; line-height: 2;"><span style="font-size:16.0pt;
font-family:仿宋"><span style="background-color: rgb(255, 255, 0);">会议室主要用于实验室的各类工作会议、学术报告、课题组组会、研究生答辩、接待检查和来访等活动。如有特殊情况，需递交纸质申请经办公室同意方可使用。</span><span lang="EN-US"></span></span></p><p class="MsoNormal" style="text-indent: 32pt; line-height: 2;"><span style="font-size:16.0pt;
font-family:仿宋">一、会议室的管理与维护<span lang="EN-US"></span></span></p><p class="MsoNormal" style="text-indent: 32pt; line-height: 2;"><span lang="EN-US" style="font-size:16.0pt;font-family:仿宋">1</span><span style="font-size:16.0pt;
font-family:仿宋">、实验室办公室负责会议室锁匙管理，会议室使用审批。<span lang="EN-US"></span></span></p><p class="MsoNormal" style="text-indent: 32pt; line-height: 2;"><span lang="EN-US" style="font-size:16.0pt;font-family:仿宋">2</span><span style="font-size:16.0pt;
font-family:仿宋">、实验室办公室负责安排物业管理人员做好会议室设备检修及会议室清洁卫生工作，保证会议室整洁卫生，设施完好。<span lang="EN-US"></span></span></p><p class="MsoNormal" style="text-indent: 32pt; line-height: 2;"><span style="font-size:16.0pt;
font-family:仿宋">二、会议室的使用要求<span lang="EN-US"></span></span></p><p class="MsoNormal" style="text-indent: 32pt; line-height: 2;"><span lang="EN-US" style="font-size:16.0pt;font-family:仿宋">1</span><span style="font-size:16.0pt;
font-family:仿宋">、会议室的使用遵循“谁使用，谁负责”的原则。<span lang="EN-US"></span></span></p><p class="MsoNormal" style="text-indent: 32pt; line-height: 2;"><span lang="EN-US" style="font-size:16.0pt;font-family:仿宋">2</span><span style="font-size:16.0pt;
font-family:仿宋">、会议室的使用采用预约制，使用者提前通过实验室网站进行预约，按实际参加人数预约，不得无故占用大会议室，非预约不得使用。已经审批通过的各类活动如与实验室临时安排的重要活动冲突，则服从实验室统筹安排。<span lang="EN-US"></span></span></p><p class="MsoNormal" style="text-indent: 32pt; line-height: 2;"><span lang="EN-US" style="font-size:16.0pt;font-family:仿宋">3</span><span style="font-size:16.0pt;
font-family:仿宋">、使用者对活动内容和活动安全负责，禁止散布与党的路线方针政策不符、影响安定团结的言论。<span lang="EN-US"> </span></span></p><p class="MsoNormal" style="text-indent: 32pt; line-height: 2;"><span lang="EN-US" style="font-size:16.0pt;font-family:仿宋">4</span><span style="font-size:16.0pt;
font-family:仿宋">、会标、欢迎牌等宣传物品的使用需经实验室办公室同意，不得破坏、弄脏原有装修，会后应及时清理。不得随意从其他会议室搬动桌椅，不得随意改变会议室设备和家具的位置，如需改变，应提前与办公室说明，在使用结束后主动恢复原状。<span lang="EN-US"></span></span></p><p class="MsoNormal" style="text-indent: 32pt; line-height: 2;"><span lang="EN-US" style="font-size:16.0pt;font-family:仿宋">5</span><span style="font-size:16.0pt;
font-family:仿宋">、会议室的照明、空调、音响设备的使用原则上由使用者负责，办公室协助指导使用。会议室使用完毕后，使用者应及时整理，关闭电源、门窗，室内保持整洁。如发现设备故障和公物损坏应及时告知办公室，以便及时修理。因使用者的原因导致设备损坏或丢失的，由使用者负责维修或照价赔偿。<span lang="EN-US"></span></span></p><p class="MsoNormal" style="text-indent: 32pt; line-height: 2;"><span lang="EN-US" style="font-size:16.0pt;font-family:仿宋">6</span><span style="font-size:16.0pt;
font-family:仿宋">、禁止在会议室内抽烟、喝酒，禁止使用易燃、易爆及有毒有害物品。<span lang="EN-US"></span></span></p><p class="MsoNormal" style="text-indent: 32pt; line-height: 2;"><span lang="EN-US" style="font-size:16.0pt;font-family:仿宋">7</span><span style="font-size:16.0pt;
font-family:仿宋">、对不遵守会议室管理办法的使用者，由实验室予以通报批评，情节严重的，取消其今后使用实验室会议室的资格，并对相关责任人追究相应责任。<span lang="EN-US">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></p><p class="MsoNormal" align="right" style="text-align: right; line-height: 2;"><br></p></div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>




</body>
</html>