<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script>

    </script>
</head>
<body>
    <div class="container-fluid">
        <!--标题-->
        <div class="row" style="margin-top: 20px;">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="text-center">用户登录</h2>
                <p class="pagination center-block" style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
                <a type="button" class="btn btn-default" aria-label="Left Align" th:href="@{/adlogin.html}">
                    <span class="glyphicon glyphicon-tree-conifer"></span>
                </a>

            </div>
        </div>

        <!--登录表单-->
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form th:action="@{/userlogin}" method="post">
                    <div class="form-group">
                        <label for="number">手机号:</label>
                        <input type="text" class="form-control" id="number" name="number" placeholder="请输入您的手机号">
                    </div>
                    <div class="form-group">
                        <label for="password">密码:</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
                    </div>


                    <button type="submit" class="btn btn-danger" style="margin-top: 10px; float: left;">登录</button>

                    <!--如果msg值为空，则不显示消息-->

                </form>
            </div>
        </div>
    </div>

</body>
</html>